*{
    margin: 0px;
}
body{
    /* background-color: blue; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Emailandpassword{
    height: 300px;
    width: 360px;
    margin-top: 2%;
    border: 1px solid grey;
    background-color: whitesmoke;
    text-align: center;
    flex-direction: column;
}.Email{
    display: flex;
    text-align:left;
    flex-direction: column;
    padding:5%;
}
input{
    width: 290px;
    height: 25px;
    border:0.5 solid rgb(177, 174, 174);
}
button{
    height: 40px;
    width: 90px;
    background-color: blue;
    border: none;
    border-radius: 20px;
}
p{
    font-size: 17px;
}
span{
    color: blue;
    margin-left: 2%;
}
.last{
    margin-top: 10px;
}