*{
    margin: 0px;
}

body{
    background-color: aqua;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
color: beige;
padding: 20px 0px;
}
.headercontent{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100%;
     width: 300px;
     margin-right: 20px;
}
h3{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}
.headercontent,div{
    margin-right: 15px;
    font-size: 18px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}